:root{
    /* Primary */

--Light-Cyan: hsl(193, 38%, 86%);
--Neon-Green: hsl(150, 100%, 66%);

/* Neutral */

--Grayish-Blue: hsl(217, 19%, 38%);
--Dark-Grayish-Blue: hsl(217, 19%, 24%);
--Dark-Blue: hsl(218, 23%, 16%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--Dark-Blue);
}

.card{
    background-color: var(--Dark-Grayish-Blue);
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 300px;
    border: 0px solid black;
    border-radius: 10px;
}

.titulo{
    font-size: 0.8em;
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 25px 0;
    color: var(--Neon-Green);
}

.card_button{
    position: relative;
    bottom: -5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px solid var(--Dark-Blue);
    background-color: var(--Neon-Green);
}
.Advice{
    color: var(--Light-Cyan);
    font-size: 0.8em;
    height: 150px;
}
.card_img{
    width: 100%;
    position: relative;
    bottom: 5px;
}